[Unit]
Description={{ app_name }} .NET application

[Service]
WorkingDirectory={{ app_publish_dir }}/net6.0
ExecStart=/usr/bin/dotnet {{ app_publish_dir }}/net6.0/TestingApp.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
SyslogIdentifier={{ app_name }}
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
